
body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  text-align:center;
}

.container {
  width: 100%;
  height: 100%;
  display:grid;
  align-items: center;
  justify-content: space-evenly;
}

.leftpane {
    width: 25%;
    height: 100%;
    position: relative;
    border-collapse: collapse;
  
}

.middlepane {
    width: 50%;
    height: 100%;
    text-align:center;
    justify-content: center;
    border-collapse: collapse;
   
}

.rightpane {
  width: 25%;
  height: 100%;
  position: relative;
  border-collapse: collapse;
}
